---
---

// Reference:

// original code: https://github.com/pages-themes/slate/blob/master/_sass/rouge-github.scss
// Customization style: https://github.com/pages-themes/slate#stylesheet

@import '{{ site.theme }}';

body {
  color: #241f20;
  font-family: Lato, Arial, sans-serif, 'Myriad Pro', Calibri, Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

.inner {
  max-width: 1200px;
}

*:focus {
  outline: none;
}

a {
  text-decoration: underline;
  color: #0053a6;
}

p {
  margin: 15px 0 20px 0;
}

summary {
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

summary:hover {
  cursor: pointer;
}

details {
  background-color: #f3f0ec;
  padding: 1em;
  margin: 1.25em 0 1.25em 0;
}

table {
  width: 100%;
}

div#header_wrap {
  background: #0053a6;
}

#header_wrap .inner {
  padding: 10px;
}

#forkme_banner {
  background: url(../images/blacktocat.png) #e22f24 no-repeat 95% 50%;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#main_content_wrap {
  background: #ffffff;
  border: none;
}

#main_content {
  padding-top: 40px;
  padding-bottom: 40px;
}

#project_title {
  text-shadow: none;
  font-size: 36px;
}

#project_tagline {
  font-weight: bold;
  text-shadow: none;
  font-size: 16px;
  font-family: 'JetBrains Mono', Iosevka, 'Source Code Pro', 'Inconsolata',
    'Fira Code', monospace;
}

th {
  font-family: Arial, sans-serif, 'Lucida Grande', 'Helvetica Neue', Helvetica;
  padding: 10px;
  background: #0055a6;
  font-weight: bold;
}

td {
  background-color: white;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 2px #e22f24;
  color: white;
  background-color: #262626;
  font-family: 'JetBrains Mono', Iosevka, 'Source Code Pro', 'Inconsolata',
    'Fira Code', monospace;
}

code > a {
    color: white;
}

#footer_wrap {
  background: #262626;
}

footer.inner p {
  text-align: center;
}

img.emoji {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

img {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
  background-color: #e22f240f;
  font-style: italic;
  border-left: 6px solid #0053a6;
}

blockquote p {
  padding: 8px 8px 8px 0;
}

.highlight {
  background-color: #262626;
  box-shadow: 0 0 1px #e22f24;
}

pre {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

pre code {
  display: inline-block;
  box-shadow: none;
}
#contributors td{
  min-width: 130px;
}
.table-container {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0 0 1em;
}
